# Maven
target/
*.class

# IntelliJ IDEA
.idea/
*.iml

# Build files
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
application-local.properties
application-secret.properties
